/* assets/css/main.css */
@import "tailwindcss";
@import "@nuxt/ui";

:root {
  /* Typography */
  --font-yt: 'Roboto', sans-serif;

  /* YouTube Colors */
  --yt-200: #F1F1F1;
  --yt-400: #A6A097;
  --yt-600: #272727;
  --yt-800: #0F0F0F;

  /* UI Colors */
  --ui-yt-200: #F1F1F1;
  --ui-yt-400: #A6A097;
  --ui-yt-600: #272727;
  --ui-yt-800: #0F0F0F;

  --ui-bg: var(--yt-800)
}

@theme static {
  /* Typography */
  --font-yt: 'Roboto', sans-serif;

  /* YouTube Colors */
  --yt-200: #F1F1F1;
  --yt-400: #A6A097;
  --yt-600: #272727;
  --yt-800: #0F0F0F;

  --color-primary: var(--yt-200);
  --color-secondary: var(--yt-400);
}

body {
  font-family: var(--font-yt);
  position: relative;
  min-height: 100vh;
  background-color: var(--yt-800);
  color: var(--yt-200);
}
